<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<title>在线注册</title>
<link rel="stylesheet" href={{url_for("static",filename="mobiscroll/css/mobiscroll.custom-3.0.0-beta2.min.css")}}>
 <script type="text/javascript" src={{url_for("static",filename="bootstrap/js/jquery.min.js")}}></script>
  <script type="text/javascript" src={{url_for("static",filename="mobiscroll/js/mobiscroll.custom-3.0.0-beta2.min.js")}}></script>
    <link href={{url_for("static",filename="bootstrap/css/bootstrap.min.css")}} rel="stylesheet">
    <link rel="stylesheet" href={{url_for("static",filename="Font-Awesome/css/font-awesome.min.css")}}/>
<link rel="stylesheet" href={{url_for("static",filename="Font-Awesome/css/build.css")}}/>
    <link rel="icon" href={{url_for("static",filename="img/lg_nzd.jpg")}} >
    <link rel="stylesheet" href={{url_for("static",filename="css/mobileSelect.css")}}/>
    <script type="text/javascript" src={{url_for("static",filename="js/mobileSelect.js")}}></script>
	<script src={{url_for("static",filename="alibaba/js/iconfont.js")}} ></script>
<script src={{url_for("static",filename="layer/mobile/layer.js")}}></script>
<link rel="stylesheet" href={{url_for("static",filename="css/11css.css")}}>
<link rel="stylesheet" href={{url_for("static",filename="css/mishouye.css")}}>
	<script type="text/javascript">
var countdown=60;
function sendVerificationCode(){
    var obj = $("#btn");
    var telNum = document.getElementById("telNum").value;
    	if(telNum!="")
    	{
    	 $.ajax({
            	type:"Post",
				url:"/sMSVerificationCode",
            	dataType:'json',
            	data:$("#changeTelForm").serialize(),
            	success:function(result){
            	var data = JSON.stringify(result.msg);    //返回的数据
            	var obj2 = JSON.parse(data);
           		//alert("返回的信息"+obj2);
				if(obj2!=0){
				  layer.open({
			    content: '短信发送异常'
			    ,skin: 'msg'
			    ,time: 2 //2秒后自动关闭
			  });
				<!--alert('短信发送异常')-->
					}
				else{
				  layer.open({
			    content: '短信发送成功'
			    ,skin: 'msg'
			    ,time: 2 //2秒后自动关闭
			  });

				<!--alert('短信发送成功')-->
				}
  				settime(obj);
				}

 					});
 		}
 		else{
 layer.open({
    content: '请先输入手机号'
    ,skin: 'msg'
    ,time: 2 //2秒后自动关闭
  });
 		}


    <!--settime(obj);-->

    }
function settime(obj) { //发送验证码倒计时
    if (countdown == 0) {
        obj.attr('disabled',false);
        //obj.removeattr("disabled");
        obj.val("免费获取验证码");
        countdown = 60;
        return;
    } else {
     obj.attr('disabled',true);
     obj.val("重新发送(" + countdown + ")");
     countdown--;


    }
setTimeout(function() {
    settime(obj) }
    ,1000)
}
</script>
<style type="text/css">
html, body {
	height: 100%
}
body {
	margin: 0;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased
}
button {
	display: inline-block;
	text-decoration: none;
	padding: 0.8em 2.6em;
	margin: 20px 10px 0 0;
	outline: 0;
	border: 0;
	overflow: visible;
	cursor: pointer;
	color: #fff;
	background: #5185a8;
	font-family: Arial, sans-serif, verdana;
	font-size: 14px;
	font-weight: 100;
	-webkit-transition: background 0.3s ease-out;
	-moz-transition: background 0.3s ease-out;
	-o-transition: background 0.3s ease-out;
	transition: background 0.3s ease-out
}
button:hover {
	background: #34566d
}
input {
	width: 100%;
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 0;
	background: #fff;
	font-family: Arial, sans-serif, verdana;
	text-shadow: none;
	color: #000;
	font-size: 15px;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.demo-main-cont {
	height: 100%
}

.mbsc-sc-itm {
	text-align: center !important
}
.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

</style>
</head>
<body class="">
	<div class="" id="">
		<div class="" role="document">
			<div class="modal-content">
				<div class="modal-header" style="text-align: center; color: #FF7171">

					<h3 class="modal-title" >手机号修改</h3>
				</div>
				<div class="modal-body" >
					<form  id="changeTelForm">
						<div class="">
							<label class="control-label">新手机号:</label>
							  <div class="radio radio-info radio-inline" style="width:80%">
		                        <input type="text" id="telNum" name="telNum"
									class="" placeholder="请输入新的手机"  style="text-align: center"/>
		                 		 </div>
						</div>

						<div class="">
							<label class="control-label">验证号码:</label>
							  <div class="radio radio-info radio-inline" style="width:80%">
								  <input id="code" placeholder="请输入验证码"  style="text-align: center" name="verificationCode"/>
							  </div>
							<input type="button" id="btn" value="免费获取验证码" onclick="sendVerificationCode()" />
							<input type="hidden" value="{{ results }}"  name="openid"/>
						</div>

					</form>
				</div>
			</div>
			<!-- 注意事项 -->
			<div>
			<br>
				<p style=" color: #FF7171;padding-left: 10px">注意事项：</p>
				<p style=" color: #888888;padding-left: 10px">1.每位用户一天只可预约一次。</p>
				<p style=" color: #888888;padding-left: 10px">2.每位用户单个项目只能预约一次，项目可多选。</p>
				<p style=" color: #888888;padding-left: 10px">3.在预约时间2小时之前，用户可编辑预约信息。</p>
				<p style=" color: #888888;padding-left: 10px">4.用户至少需提前2小时进行预约。</p>
				<p style=" color: #888888;padding-left: 10px">5.用户可进行七天之内的预约。</p>
			</div>
			<!-- 注意事项end -->
			<div>
			  <button type="button"  class="" data-toggle="modal"  style="width:100%;background-color: #FF7171 " id="changebindingBtn">更换绑定
           	 </button>
			</div>
		</div>
	</div>
	<div class="feet col-xs-12 col-sm-12 col-md-12">
			<!--设置固定在底部-->
			<nav class="navbar navbar-default navbar-fixed-bottom">
				<div class="container feet">
					<!--<p>-->
							<a href="javascript:void(0);"  onclick="personPageM()"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-fanhui"></use></svg><br> </a>
					        <a href=""><svg class="icon" aria-hidden="true"><use xlink:href="#icon-Right1"></use></svg><br></a>
					<!--</p>-->
				</div>
			</nav>
	</div>
<script>

function personPageM(){
window.location.replace('/personPage');
}
</script>
	<script>
		$("#changebindingBtn").on("click", function() {
		var telNum = document.getElementById("telNum").value;
		var code = document.getElementById("code").value;
		if(telNum!=''  && code !='')
		{
		if(isPoneAvailable(telNum)==true){
        $.ajax({
            	type:"Post",
				url:"/changeTel",
            	dataType:'json',
            	data:$("#changeTelForm").serialize(),
            	success:function(result)
            		{
            	var msg = JSON.stringify(result.msg);    //返回的数据
            	//alert(msg)
            		<!--if(msg=="注册成功"){-->
            	 		<!--setTimeout(function(){  //使用  setTimeout（）方法设定定时2000毫秒-->
						<!--window.location.reload();//页面刷新-->
							<!--},2000);-->
            							<!--}-->
            	<!--else{-->
			     		layer.open
			     		({
			  	  		content: msg
			  	 		 ,skin: 'msg'
			  	 		 ,time: 2 //2秒后自动关闭
						  });
						  if(msg="更换成功")
						  {
						  //alert("6666666")
						  setTimeout(function(){
        	window.location.href="/personPage";
   	 },1500);


						  }

						<!--}-->
            		}
			});
			}
			else{
				//alert('请输入正确的合法手机号')
				layer.open
			     		({
			  	  		content: '请输入正确的合法手机号'
			  	 		 ,skin: 'msg'
			  	 		 ,time: 2 //2秒后自动关闭
						  });
			}
	}
     else{
     	layer.open
			     		({
			  	  		content: '手机号 姓名 验证码不能为空'
			  	 		 ,skin: 'msg'
			  	 		 ,time: 2 //2秒后自动关闭
						  });
     	//alert('手机号 姓名 验证码不能为空');
     }
	})





 function isPoneAvailable(str) {
            var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;
            if (!myreg.test(str)) {
                return false;
            } else {
                return true;
            }
        }

	</script>

</body>
</html>
