<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<title>预约记录</title>
<!--<script type="text/javascript" src="../bootstrap/js/jquery.min.js" charset="UTF-8"></script>-->
<!--<link rel="stylesheet" href="../mobiscroll/css/mobiscroll.custom-3.0.0-beta2.min.css">-->
  <!--<script src="../mobiscroll/js/mobiscroll.custom-3.0.0-beta2.min.js"></script>-->
<!--<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
<!--<link rel="stylesheet" href="../Font-Awesome/css/font-awesome.min.css"/>-->
    <!--<link rel="stylesheet" href="../Font-Awesome/css/build.css"/>-->
	<!--<link rel="stylesheet" type="text/css" href="../Font-Awesome/css/default.css">-->
<!--<link rel="icon" href="../img/lg_nzd.jpg">-->
 <!--<script src="../alibaba/js/iconfont.js"></script>-->
<!--<link rel="stylesheet" href="../css/mishouye.css">-->
<!--<link href="../css/base.css" rel="stylesheet" type="text/css" />&lt;!&ndash;公用样式&ndash;&gt;-->

<script type="text/javascript" src={{url_for("static",filename="bootstrap/js/jquery.min.js")}}></script>
<link rel="stylesheet" href={{url_for("static",filename="mobiscroll/css/mobiscroll.custom-3.0.0-beta2.min.css")}}>
<script type="text/javascript" src={{url_for("static",filename="mobiscroll/js/mobiscroll.custom-3.0.0-beta2.min.js")}}></script>
<link href={{url_for("static",filename="bootstrap/css/bootstrap.min.css")}} rel="stylesheet">
<link rel="stylesheet" href={{url_for("static",filename="Font-Awesome/css/font-awesome.min.css")}}/>
<link rel="stylesheet" href={{url_for("static",filename="Font-Awesome/css/build.css")}}/>
<link rel="icon" href={{url_for("static",filename="img/lg_nzd.jpg")}} >
<script src={{url_for("static",filename="alibaba/js/iconfont.js")}} ></script>
<link rel="stylesheet" href={{url_for("static",filename="css/mishouye.css")}}>
<link href={{url_for("static",filename="css/base.css")}} rel="stylesheet" type="text/css" />
<script src={{url_for("static",filename="layer/mobile/layer.js")}}></script>
<link rel="stylesheet" href={{url_for("static",filename="css/11css.css")}}>



<style type="text/css">
html, body {
	height: 100%
}

body {
	margin: 0;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased
}

button {
	display: inline-block;
	text-decoration: none;
	padding: 0.8em 2.6em;
	margin: 20px 10px 0 0;
	outline: 0;
	border: 0;
	overflow: visible;
	cursor: pointer;
	color: #fff;
	background: #5185a8;
	font-family: Arial, sans-serif, verdana;
	font-size: 14px;
	font-weight: 100;
	-webkit-transition: background 0.3s ease-out;
	-moz-transition: background 0.3s ease-out;
	-o-transition: background 0.3s ease-out;
	transition: background 0.3s ease-out
}

button:hover {
	background: #34566d
}

input {
	width: 100%;
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 0;
	background: #fff;
	font-family: Arial, sans-serif, verdana;
	text-shadow: none;
	color: #000;
	font-size: 15px;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.demo-main-cont {
	height: 100%
}

.mbsc-sc-itm {
	text-align: center !important
}

.buttonClass{
border: 1px solid #999;
border: 1px solid rgba(0, 0, 0, .2);
border-radius: 6px;

}


.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

 .manage-content{
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;


}
 .manage-button{
 background-color: #FF7171;
 color:white;
 }

</style>
</head>
<body class="">

		<div class="" role="document">
			<br>
            <form id="dateForm" method="POST">
			<table >
			<tr>
			<td style="width:5%"  align="center">
			<td style="width:30%"  align="center">
				<input placeholder="开始时间" type="text" class="form-control" style="font-family:PingFang SC;text-align: center;background-color: #FFFFFF;box-shadow: 0 3px 9px rgba(0, 0, 0, .5);"  id="startTime" name="startTime">
			</td>
			<td style="width:5%"  align="center">
			-
			</td>
			<td style="width:30%"  align="center">
				<input  placeholder="结束时间" type="text" class="form-control" style="font-family:PingFang SC;text-align: center;background-color: #FFFFFF;box-shadow: 0 3px 9px rgba(0, 0, 0, .5);"  id="endTime" name="endTime">
			</td>
			<td style="width:10%"  align="center">
			</td>
			<td style="width:15%" align="center">
				<input onclick="NewSearch()" value="搜索" type="button" class="form-control" style="font-family:PingFang SC;text-align: center;background-color: #FFFFFF;box-shadow: 0 3px 9px rgba(0, 0, 0, .5);"  >
			</td>
				<td style="width:5%"  align="center">
			</tr>
			</table>
            </form>
			<h5 class="page-header"></h5>
{% if results %}
 {% for i in results %}
               <div class="index">
                    <div class="index_box">
                            <div class="index_icon">
                                 <div class="icon_h"></div>
                                 <div class="titl"  style="padding-left: 15px;padding-top: 5px;padding-bottom: 5px">
                             	     <p>门店：{{ i[7] }}</p>
                                     <div class="titl_h">
                                     <p>客户姓名：{{ i[2] }}</p>
                                     <p>预约时间：{{ i[3] }} {{ i[4] }}</p>
                                     <p>预约项目：{{ i[5] }}</p>
                                     <p>联系方式：{{ i[6] }}</p>
                                     </div>
                                 </div>
                                 <div class="clear"></div>
                            </div>


                    </div>

            </div>
				{% endfor %}
    	{% else %}
			  <div class="index">
                    <div class="index_box">
                            <div class="index_icon">
                                 <div class="icon_h"></div>
                                 <div class="titl"  style="padding-left: 15px;padding-top: 5px;padding-bottom: 5px">
                             	     <p>门店：今日暂无</p>
                                     <div class="titl_h">
                                     <p>客户姓名：暂无</p>
                                     <p>预约时间：暂无</p>
                                     <p>预约项目：暂无</p>
                                     <p>联系方式：暂无</p>
                                     </div>
                                 </div>
                                 <div class="clear"></div>
                            </div>


                    </div>

            </div>
{% endif %}
            <!--<div class="index">-->
                    <!--<div class="index_box">-->
                            <!--<div class="index_icon">-->
                                 <!--<div class="icon_h"></div>-->
                                 <!--<div class="titl"  style="padding-left: 15px;padding-top: 5px;padding-bottom: 5px">-->
                             	     <!--<p>门店：奶珍多(浒山店)</p>-->
                                     <!--<div class="titl_h">-->
                                     <!--<p>客户姓名：王小胖</p>-->
                                     <!--<p>预约时间：2019-01-05 10:00(上午)</p>-->
                                     <!--<p>预约项目：艾灸</p>-->
                                     <!--<p>联系方式：183xxxxxxxx</p>-->
                                     <!--</div>-->

                                 <!--</div>-->
                                 <!--<div class="clear"></div>-->
                            <!--</div>-->


                    <!--</div>-->

            <!--</div>-->
			<!-- 预约详情 -->
    	<!--<article>-->
        <!--<ul class="list-thelist">-->
        <!--<li class="clearfix">-->
            	<!--<h2 class="news-Title">门店:奶珍多 (浒山店)</h2>-->
            	<!--<p class="news-Intro"><span class="user"><b class="mr10">客户姓名：</b><b>王小胖</b></span><span class="num" style="color: #FF7171">查看详情</span></p>-->
        <!--</li>-->


         <!--<li class="clearfix">-->
            	<!--<h2 class="news-Title">门店:奶珍多 (浒山店)</h2>-->
            	<!--<p class="news-Intro"><span class="user"><b class="mr10">客户姓名：</b><b>王小胖</b></span><span class="num" style="color: #FF7171">查看详情</span></p>-->
        <!--</li>-->

         <!--<li class="clearfix">-->
            	<!--<h2 class="news-Title">门店:奶珍多 (浒山店)</h2>-->
            	<!--<p class="news-Intro"><span class="user"><b class="mr10">客户姓名：</b><b>王小胖</b></span><span class="num" style="color: #FF7171">查看详情</span></p>-->
        <!--</li>-->
         <!--<li class="clearfix">-->
            	<!--<h2 class="news-Title">门店:奶珍多 (浒山店)</h2>-->
            	<!--<p class="news-Intro"><span class="user"><b class="mr10">客户姓名：</b><b>王小胖</b></span><span class="num" style="color: #FF7171">查看详情</span></p>-->
        <!--</li>-->
       <!--</ul>-->
    <!--</article>&lt;!&ndash; /帖子列表&ndash;&gt;-->






		</div>
	<div class="feet col-xs-12 col-sm-12 col-md-12">
			<!--设置固定在底部-->
			<nav class="navbar navbar-default navbar-fixed-bottom">
				<div class="container feet">
						<a href="/managePage"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-fanhui"></use></svg><br> </a>
					   <a href=""><svg class="icon" aria-hidden="true"><use xlink:href="#icon-Right1"></use></svg><br></a>
				</div>
			</nav>
		</div>

	<script type="text/javascript">
$("#startTime").focus(function(){
		  document.activeElement.blur();
		});
$("#endTime").focus(function(){
	  document.activeElement.blur();
	});



	$(function () {
        var now = new Date(),
            min = new Date(now.getFullYear() - 4, now.getMonth(), now.getDate());
            max = new Date(now.getFullYear() + 4, now.getMonth(), now.getDate());
        var instance = mobiscroll.date('#startTime', {
            lang: 'zh',             //语言
            display: 'bottom',      //在页面的什么位置显示
            max: max,        //可供选择的最大日期
            min: min,        //可供选择的最小日期
            theme:'ios',     //主题，插件的皮肤效果，此处选择ios，为了模仿ios的select效果
            dateFormat:'yy-mm-dd'      //日期格式
        });


        var instance = mobiscroll.date('#endTime', {
            lang: 'zh',             //语言
            display: 'bottom',      //在页面的什么位置显示
            max: max,        //可供选择的最大日期
            min: min,        //可供选择的最小日期
            theme:'ios',     //主题，插件的皮肤效果，此处选择ios，为了模仿ios的select效果
            dateFormat:'yy-mm-dd'      //日期格式
        });

    });

 function search(){
		 var sta = document.getElementById("startTime").value;
		 var end = document.getElementById("endTime").value;
	 	if(sta!=""||end!=""){
		    <!--alert("开始时间 ："+sta+" 结束时间： "+end);-->
		      $.ajax({
            	type:"Post",
				url:"/reservationRecordPage",
            	dataType:'json',
            	data:{"startTime":sta,"endTime":end},
            	success:function(result){
            	var data = JSON.stringify(result);    //返回的数据
           		alert("返回的信息"+data);
            		}
	        });
	 	}
	 	else{
	 		alert("请选择时间范围");
	 	}
	 }
function NewSearch(){
    document.getElementById("dateForm").action="/reservationRecordPage";
	document.getElementById("dateForm").submit();
}

	</script >
</body>
</html>
