<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Modal</title>
    <link href={{url_for("static",filename="bootstrap/css/bootstrap.min.css")}} rel="stylesheet">
    <link rel="icon" href={{url_for("static",filename="img/lg_nzd.jpg")}}>
    <script src={{url_for("static",filename="layer/mobile/layer.js")}}></script>
    <link rel="stylesheet" href={{url_for("static",filename="Font-Awesome/css/font-awesome.min.css")}}/>
    <link rel="stylesheet" href={{url_for("static",filename="Font-Awesome/css/build.css")}}/>
    <link rel="stylesheet" href={{url_for("static",filename="css/mishouye.css")}}>
    <script src={{url_for("static",filename="alibaba/js/iconfont.js")}}></script>
    <!--底层关键排版-->
    <link rel="stylesheet" href={{url_for("static",filename="css/businessList.css")}}>
    <link rel="stylesheet" href={{url_for("static",filename="css/11css.css")}}>
    <style>
        .storeTd{float:right}

.storeTdValue{padding-left:5px}
    </style>
</head>
<body>
<div class="" role="document" style="padding:5px 5px 5px 5px;background-color:#f5f5f5" >
    <button type="button" class="list-group-item" data-toggle="modal" data-target="#addStoreModal" style="opacity: 1;background: rgba(255,255,255,1);box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1607843137254902);">新增店面</button>
</div>
<div class="panel panel-default" style="border:none">
    <div class="panel-heading"   style="border:none;background-color:white">当前店面</div>
    <div class=""  style="background-color:white;border:none;padding:5px">
        <div class="list-group" role="group" aria-label="店面列表" style="border:none">

             {% for i in results %}
            <div class="index storeClass">
                <div class="index_box">
                    <div class="index_icon">
                        <div class="icon_h" id="focusBtn"></div>
                        <div class="title"  style="padding-left: 15px;padding-top: 5px;padding-bottom: 5px">
                            <button type="button" class="list-group-item " data-toggle="modal" data-target="#editStoreModal"  style="border:none ;　outline: none; background: rgba(255,255,255,1);">
                            <table >
                                <tr>
                                    <td class="storeTd">门店名称: </td>
                                    <td class="storeTdValue"><p>{{i[1]}}</p></td>
                                </tr>
                                 <tr>
                                    <td class="storeTd">店铺地址:</td>
                                    <td class="storeTdValue"> <p>{{i[2]}}</p></td>
                                </tr>
                                 <tr>
                                    <td class="storeTd"> 店长名字: </td>
                                    <td class="storeTdValue"><p>{{i[3]}}</p></td>
                                </tr>
                                 <tr>
                                    <td class="storeTd"> 店长电话:</td>
                                    <td class="storeTdValue"><p>{{i[4]}}</p></td>
                                </tr>
                                 <tr>
                                    <td class="storeTd">门面电话: </td>
                                    <td class="storeTdValue"><p>{{i[5]}}</p></td>
                                </tr>
                                 <tr style="display:none;">
                                    <td class="storeId">id: </td>
                                    <td class="storeIdValue"><p>{{i[0]}}</p></td>
                                </tr>
                            </table>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
             {% endfor %}
        </div>




    </div>


</div>

<div class="modal fade" id="addStoreModal" tabindex="-1" role="dialog" aria-labelledby="addStoreModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" >新增项目列表</h4>
            </div>
            <div class="modal-body">
                <form id="addStoreForm">
                    <div class="form-group">
                        <label  class="control-label">门店名称:</label>
                        <input type="text" class="form-control" id="addStoreName" name="addStoreName">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">店铺地址</label>
                        <input type="text" class="form-control" id="addStoreAddress" name="addStoreAddress">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">店长名字</label>
                        <input type="text" class="form-control" id="addSmName" name="addSmName">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">店长电话</label>
                        <input type="text" class="form-control" id="addTel" name="addTel">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">门面电话</label>
                        <input type="text" class="form-control" id="addStoreTel" name="addStoreTel">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addStoreBtn">提交</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="editStoreModal" tabindex="-1" role="dialog" aria-labelledby="editStoreModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" >编辑项目列表</h4>
            </div>
            <div class="modal-body">
                <form id="editStoreForm">
                     <input type="hidden" class="form-control" id="storeId" name="storeId">
                    <div class="form-group">
                        <label  class="control-label">门店名称:</label>
                        <input type="text" class="form-control" id="editStoreName" name="editStoreName">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">店铺地址</label>
                        <input type="text" class="form-control" id="editStoreAddress" name="editStoreAddress">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">店长名字</label>
                        <input type="text" class="form-control" id="editSmName" name="editSmName">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">店长电话</label>
                        <input type="text" class="form-control" id="editTel" name="editTel">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">门面电话</label>
                        <input type="text" class="form-control" id="editStoreTel" name="editStoreTel">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="delBtn">移除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  id="editStoreBtn">提交</button>
            </div>
        </div>
    </div>
</div>

<div class="" style="border:none">
    <!--设置固定在底部-->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container feet">
            <a href="/managePage"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-fanhui"></use></svg><br> </a>
            <a href=""><svg class="icon" aria-hidden="true"><use xlink:href="#icon-Right1"></use></svg><br></a>
        </div>
    </nav>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
$("#addStoreBtn").on("click", function() {

        $.ajax({
            	type:"Post",
				url:"/addStore",
            	dataType:'json',
            	data:$("#addStoreForm").serialize(),
            	success:function(result){
            	var msg = JSON.stringify(result.msg);    //返回的数据
           		  <!--layer.open({-->
			    <!--content: msg-->
			    <!--,skin: 'msg'-->
			    <!--,time: 2 //2秒后自动关闭-->
			  <!--});-->
			  location.reload();
            		}
	});
		//$('#addBussinessList').modal('hide')

	})


$("#editStoreBtn").on("click", function() {

        $.ajax({
            	type:"Post",
				url:"/editStore",
            	dataType:'json',
            	data:$("#editStoreForm").serialize(),
            	success:function(result){
            	var msg = JSON.stringify(result.msg);    //返回的数据

            		}
	});

		location.reload();
	})




$(".businessClass").on("click", function() {

		var listName=$(this).find("span").eq(0).text();
		var time=$(this).find("span").eq(2).text();
		var id=$(this).find("span").eq(3).text();
        //alert('已经选中li'+listName+time);
        $('#exampleModal').on('show.bs.modal', function () {
             $("#listName").val(listName);
            $("#time").val(time);
            $("#editId").val(id);
    })

        })
$("#delBtn").on("click", function() {
          var  delId=$("#storeId").val();
         var data = {
            "delId": delId
            }
         layer.open({
             content: '您确定要移除该项目么'
             ,btn: ['确定', '取消']
         ,yes: function(index){
           $.ajax({
            	type:"Post",
				url:"/delStore",
            	dataType:'json',
            	data:data,
            	success:function(result){
            	var msg = JSON.stringify(result.msg);    //返回的数据
           		location.reload();
            		                }
	                });
                 layer.close(index);
                                 }
  });
  } );



  $(".storeClass").on("click", function() {

		var name=$(this).find("p").eq(0).text();
		var add=$(this).find("p").eq(1).text();
		var smName=$(this).find("p").eq(2).text();
		var Tel=$(this).find("p").eq(3).text();
		var storeTel=$(this).find("p").eq(4).text();
		var storeId=$(this).find("p").eq(5).text();
      //  alert('已经选中'+name+add);
        $('#editStoreModal').on('show.bs.modal', function () {
            $("#editStoreName").val(name);
            $("#editStoreAddress").val(add);
            $("#editSmName").val(smName);
            $("#editTel").val(Tel);
            $("#editStoreTel").val(storeTel);
            $("#storeId").val(storeId);
    })

        })
</script>
</body>
</html>

